<a href="https://colab.research.google.com/github/manchann/secure_project2/blob/main/oneclass_svm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
dataset = pd.read_csv('/content/drive/MyDrive/BigData/04_hashed.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
dataset_split = dataset

In [3]:
# IPv4 전처리
def transform_ip(ip): 
  groups = ip.split(".") 
  equalize_group_length = "".join( map( lambda group: group.zfill(3), groups )) 
  return equalize_group_length 

from sklearn.preprocessing import LabelEncoder

# Feature 전처리
def preprocess_df(df):
  
  # IPv4 전처리
  df['src_ip'] = df.src_ip.apply(lambda ip : transform_ip(ip))
  df['dst_ip'] = df.dst_ip.apply(lambda ip : transform_ip(ip))

  # country 전처리
  label_encoder = LabelEncoder()
  df['src_country'] = label_encoder.fit_transform(df['src_country'])
  df['dst_country'] = label_encoder.fit_transform(df['dst_country'])

  return df

In [4]:
dataset_ip = preprocess_df(dataset_split)

In [5]:
import numpy as np
arr = np.array(dataset_ip)
dataset_ip = pd.DataFrame(arr,columns=dataset_ip.columns)

In [6]:
from sklearn.preprocessing import LabelEncoder
job_encode = LabelEncoder()
dataset_ip['src_country'] = job_encode.fit_transform(dataset_ip['src_country'])
dataset_ip['dst_country'] = job_encode.fit_transform(dataset_ip['dst_country'])
dataset_ip.tail()

               Rdate        src_ip  ... src_country dst_country
5820305  2.02104e+13  012150252150  ...         121         224
5820306  2.02104e+13  012150252150  ...         121          46
5820307  2.02104e+13  145217002097  ...          47         116
5820308  2.02104e+13  154058159164  ...         121         159
5820309  2.02104e+13  154058159020  ...         121          47

[5 rows x 9 columns]

In [ ]:
from sklearn.svm import OneClassSVM
X = dataset_ip
model = OneClassSVM(gamma='auto').fit(X)
anomaly = model.predict(X)

score = model.score_samples(X)

In [ ]:
print(anomaly, score)